doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Tic Tac Toe
  link(rel='stylesheet' href='style.css')
h1.game--title Tic Tac Toe
button#start.game--start(onclick='hide()')  Start Game
section#game.board
  #0.cell
  #1.cell
  #2.cell
  #3.cell
  #4.cell
  #5.cell
  #6.cell
  #7.cell
  #8.cell
  h2#playerStatus.game--status
  br
  br
  br
  input(type='reset' value='Restart' onclick='restartGame()')
p#gameover.game-over-message Game Over!
p#winnerA.winner-message Player A hat gewonnen!
p#winnerB.winner-message2 Player B hat gewonnen!
p#draw.draw-message Draw!
script(src='script.js')